<section class="section banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				 <h2 class="cd-headline clip is-full-width mb-4 ">
				 	Temos soluções para <br>
                    <span class="cd-words-wrapper text-color">
                        <b class="is-visible">negócios. </b>
                        <b>informática.</b>
                        <b>alojamento local.</b>
                    </span>
                </h2>
                <p>{{ content}}</p>
			</div>
		</div>
	</div>
</section>
